* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--c-grey-light);
  font-family: var(--f-prim);
  font-weight: var(--fw-sec);
}

a {
  text-decoration: none;
}

img {
  width: 100%;
}

input {
  width: 100%;
}

.error {
  height: 13px;
  font-size: var(--fs-small);
  line-height: 1;
  color: var(--c-red);
  // opacity: 0;
}


