:root {
  // * Fonts
  --f-prim: "Roboto";
  --f-sec: "Inter";
  --fw-prim: 500;
  --fw-sec: 400;
  --fs-big: 24px;
  --fs-middle: 15px;
  --fs-small: 13px;

  // * Colors
  --c-white: #FFFFFF;
  --c-grey-light: #F7F7F7;
  --c-grey-middle: #E4E4E4;
  --c-grey-dark: #969696;
  --c-black: #1C1C1C;
  --c-black-light: #545454;
  --c-blue: #007BFF;
  --c-red: red;
}