.select {
  width: 100%;
  height: 38px;
  border: 1px solid var(--c-grey-middle);
  border-radius: 5px;
  outline: none;
  padding-left: 10px;
  color: var(--c-grey-dark);
  appearance: none;
  cursor: pointer;
}